/* CSS for the Navigation */
.dropbtn {
    background-color: #81BEF7;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.button1, .button2{
    position: relative;
    display: inline-block;
}

.training {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.training a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.training a:hover {background-color: #f1f1f1}

.button1:hover .training{
    display: block;
}

.button1:hover .dropbtn {
    background-color: #3e8e41;
}

.event {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.event a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.event a:hover {background-color: #f1f1f1}

.button2:hover .event {
    display: block;
}

.button2:hover .dropbtn {
    background-color: #3e8e41;
}

/* CSS for the cards on the
Training and Courses page. */
.Container {
  display: grid;
  grid-template-rows: repeat(4);
  grid-template-columns: repeat(4, 450px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-gap: 5px 5px;
}

.Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 8px;
}

img {
  width: 450px;
  height: 250px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h2 {
  padding: 24px 16px 16px;
}

p {
  padding: 16px 16px 8px;
}

.Actions button{
  border-style: ridge;
  outline: 0;
  display: block;
  float:left;
  padding: 0px 12px 0px 12px
  color: white;
  background: #314652;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 16px;
}

/* CSS for the other Body
Classes */

.p {
  padding: 20%, 20%
}

/* @media to make the site
responsive  */

@media only screen and (max-width: 916px) {
  .Container {grid-template-columns: repeat(1,450px)}
}
